//----------Custom Animation----------
@mixin customAnimation($animation: null) {
    @if $animation != null {
        // Apply the animation with vendor prefixes for broader support
        -webkit-animation: $animation; /* Chrome, Safari */
        -moz-animation: $animation;    /* Firefox */
        -o-animation: $animation;      /* Opera */
        animation: $animation;         /* Standard syntax */
    }
}