//----------Custom Transform Mixin----------
@mixin customTransform($transform: null) {
    @if $transform != null {
        // Apply the transform with vendor prefixes for broader support
        -webkit-transform: $transform; /* Chrome, Safari (older versions) */
        -ms-transform: $transform;      /* Internet Explorer 9 */
        transform: $transform;          /* Standard syntax (IE 10+, Firefox, Opera) */
    }
}