//----------Custom Transition----------
@mixin customTransition($param-transition: null) {
    @if $param-transition != null {
        -webkit-transition: $param-transition; /* Chrome, Safari (older versions), Android */
        -moz-transition: $param-transition;    /* Firefox (older versions) */
        -ms-transition: $param-transition;      /* Internet Explorer 10+ */
        -o-transition: $param-transition;       /* Opera (older versions) */
        transition: $param-transition;          /* Standard syntax (IE 11+, Firefox, Opera) */
    }
}