@use 'sass:math';

@mixin columns($total-columns) {
    .col {
        flex: 1 0 0;

        &-auto, &-md-auto {
            flex: 0 0 auto;
            width: auto;
        }

        &-#{$total-columns} {
            flex: 0 0 auto;
            width: 100%;
        }
    }

    @for $i from 1 through $total-columns {
        .col-#{$i} {
            flex: 0 0 auto;
            width: math.percentage(math.div($i, $total-columns));
        }

        @media (min-width: 767px) {
            .col-md-#{$i} {
                flex: 0 0 auto;
                width: math.percentage(math.div($i, $total-columns));
            }
        }
    }
}

@mixin container($min-width, $max-width) {
    @media (min-width: $min-width) {
        .container {
            max-width: $max-width;
        }
    }
}